<div class="row score-board">

  <div class="col-6 score user-score">
    <div data-user-play></div>
    <div class="badge user-label">
      <i class="fa-regular fa-user fa-xl"></i>
    </div>
    0
  </div>

  <div class="col-6 score computer-score">
    <div data-computer-play></div>
    <div class="badge computer-label">
      <i class="fa-solid fa-computer fa-xl"></i>
    </div>
    0
  </div>

</div>