<div class="row moves">

  <div class="col-4 move" data-card="rocks">
    <img src="/images/rocks.png">
  </div>

  <div class="col-4 move" data-card="paper">
    <img src="/images/paper.png">
  </div>

  <div class="col-4 move" data-card="scissors">
    <img src="/images/scissors.png">
  </div>

</div>